{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Pedidos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>OrderDate</th>
                <th>DeliverDate</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.deliverDate ? order.deliverDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.note }}</td>
                <td>
                    <a href="{{ path('app_orders_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_orders_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_orders_new') }}">Create new</a>
{% endblock %}
